/* @tailwind base; */
@tailwind components;
@tailwind utilities;

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  animation: appear 1.5s ease-in-out forwards; 
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: disappear 1.5s ease-in-out;
}
.divider {
  margin: -8px;
}
.ant-divider-horizontal{
  margin-top: -16px !important
}

.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 10.5s;
  /* animation-timing-function: steps(40, end); */
  animation-fill-mode: forwards;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}